mdassa02_CBSD_CW2/Part 3/3.2/CMClientWS/xml-resources/web-service-references/CustomerOperationsWS/wsdl/localhost_8080/CusManagementWS/CustomerOperationsWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="CustomerOperationsWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/CusManagementWS/CustomerOperationsWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createCustomer">
<part name="parameters" element="tns:createCustomer"/>
</message>
<message name="removeCustomer">
<part name="parameters" element="tns:removeCustomer"/>
</message>
<message name="findAllCustomer">
<part name="parameters" element="tns:findAllCustomer"/>
</message>
<message name="findAllCustomerResponse">
<part name="parameters" element="tns:findAllCustomerResponse"/>
</message>
<message name="findRangeCustomer">
<part name="parameters" element="tns:findRangeCustomer"/>
</message>
<message name="findRangeCustomerResponse">
<part name="parameters" element="tns:findRangeCustomerResponse"/>
</message>
<message name="countCustomer">
<part name="parameters" element="tns:countCustomer"/>
</message>
<message name="countCustomerResponse">
<part name="parameters" element="tns:countCustomerResponse"/>
</message>
<message name="findRangeCountry">
<part name="parameters" element="tns:findRangeCountry"/>
</message>
<message name="findRangeCountryResponse">
<part name="parameters" element="tns:findRangeCountryResponse"/>
</message>
<message name="findAllCountry">
<part name="parameters" element="tns:findAllCountry"/>
</message>
<message name="findAllCountryResponse">
<part name="parameters" element="tns:findAllCountryResponse"/>
</message>
<message name="removeAddress">
<part name="parameters" element="tns:removeAddress"/>
</message>
<message name="findAllAddress">
<part name="parameters" element="tns:findAllAddress"/>
</message>
<message name="findAllAddressResponse">
<part name="parameters" element="tns:findAllAddressResponse"/>
</message>
<message name="findRangeAddress">
<part name="parameters" element="tns:findRangeAddress"/>
</message>
<message name="findRangeAddressResponse">
<part name="parameters" element="tns:findRangeAddressResponse"/>
</message>
<message name="findAddress">
<part name="parameters" element="tns:findAddress"/>
</message>
<message name="findAddressResponse">
<part name="parameters" element="tns:findAddressResponse"/>
</message>
<message name="countAddress">
<part name="parameters" element="tns:countAddress"/>
</message>
<message name="countAddressResponse">
<part name="parameters" element="tns:countAddressResponse"/>
</message>
<message name="editAddress">
<part name="parameters" element="tns:editAddress"/>
</message>
<message name="findCountry">
<part name="parameters" element="tns:findCountry"/>
</message>
<message name="findCountryResponse">
<part name="parameters" element="tns:findCountryResponse"/>
</message>
<message name="editCountry">
<part name="parameters" element="tns:editCountry"/>
</message>
<message name="countCountry">
<part name="parameters" element="tns:countCountry"/>
</message>
<message name="countCountryResponse">
<part name="parameters" element="tns:countCountryResponse"/>
</message>
<message name="removeCountry">
<part name="parameters" element="tns:removeCountry"/>
</message>
<message name="createCountry">
<part name="parameters" element="tns:createCountry"/>
</message>
<message name="createAddress">
<part name="parameters" element="tns:createAddress"/>
</message>
<message name="editCustomer">
<part name="parameters" element="tns:editCustomer"/>
</message>
<message name="findCustomer">
<part name="parameters" element="tns:findCustomer"/>
</message>
<message name="findCustomerResponse">
<part name="parameters" element="tns:findCustomerResponse"/>
</message>
<portType name="CustomerOperationsWS">
<operation name="createCustomer">
<input wsam:Action="http://webservices/CustomerOperationsWS/createCustomer" message="tns:createCustomer"/>
</operation>
<operation name="removeCustomer">
<input wsam:Action="http://webservices/CustomerOperationsWS/removeCustomer" message="tns:removeCustomer"/>
</operation>
<operation name="findAllCustomer">
<input wsam:Action="http://webservices/CustomerOperationsWS/findAllCustomerRequest" message="tns:findAllCustomer"/>
<output wsam:Action="http://webservices/CustomerOperationsWS/findAllCustomerResponse" message="tns:findAllCustomerResponse"/>
</operation>
<operation name="findRangeCustomer">
<input wsam:Action="http://webservices/CustomerOperationsWS/findRangeCustomerRequest" message="tns:findRangeCustomer"/>
<output wsam:Action="http://webservices/CustomerOperationsWS/findRangeCustomerResponse" message="tns:findRangeCustomerResponse"/>
</operation>
<operation name="countCustomer">
<input wsam:Action="http://webservices/CustomerOperationsWS/countCustomerRequest" message="tns:countCustomer"/>
<output wsam:Action="http://webservices/CustomerOperationsWS/countCustomerResponse" message="tns:countCustomerResponse"/>
</operation>
<operation name="findRangeCountry">
<input wsam:Action="http://webservices/CustomerOperationsWS/findRangeCountryRequest" message="tns:findRangeCountry"/>
<output wsam:Action="http://webservices/CustomerOperationsWS/findRangeCountryResponse" message="tns:findRangeCountryResponse"/>
</operation>
<operation name="findAllCountry">
<input wsam:Action="http://webservices/CustomerOperationsWS/findAllCountryRequest" message="tns:findAllCountry"/>
<output wsam:Action="http://webservices/CustomerOperationsWS/findAllCountryResponse" message="tns:findAllCountryResponse"/>
</operation>
<operation name="removeAddress">
<input wsam:Action="http://webservices/CustomerOperationsWS/removeAddress" message="tns:removeAddress"/>
</operation>
<operation name="findAllAddress">
<input wsam:Action="http://webservices/CustomerOperationsWS/findAllAddressRequest" message="tns:findAllAddress"/>
<output wsam:Action="http://webservices/CustomerOperationsWS/findAllAddressResponse" message="tns:findAllAddressResponse"/>
</operation>
<operation name="findRangeAddress">
<input wsam:Action="http://webservices/CustomerOperationsWS/findRangeAddressRequest" message="tns:findRangeAddress"/>
<output wsam:Action="http://webservices/CustomerOperationsWS/findRangeAddressResponse" message="tns:findRangeAddressResponse"/>
</operation>
<operation name="findAddress">
<input wsam:Action="http://webservices/CustomerOperationsWS/findAddressRequest" message="tns:findAddress"/>
<output wsam:Action="http://webservices/CustomerOperationsWS/findAddressResponse" message="tns:findAddressResponse"/>
</operation>
<operation name="countAddress">
<input wsam:Action="http://webservices/CustomerOperationsWS/countAddressRequest" message="tns:countAddress"/>
<output wsam:Action="http://webservices/CustomerOperationsWS/countAddressResponse" message="tns:countAddressResponse"/>
</operation>
<operation name="editAddress">
<input wsam:Action="http://webservices/CustomerOperationsWS/editAddress" message="tns:editAddress"/>
</operation>
<operation name="findCountry">
<input wsam:Action="http://webservices/CustomerOperationsWS/findCountryRequest" message="tns:findCountry"/>
<output wsam:Action="http://webservices/CustomerOperationsWS/findCountryResponse" message="tns:findCountryResponse"/>
</operation>
<operation name="editCountry">
<input wsam:Action="http://webservices/CustomerOperationsWS/editCountry" message="tns:editCountry"/>
</operation>
<operation name="countCountry">
<input wsam:Action="http://webservices/CustomerOperationsWS/countCountryRequest" message="tns:countCountry"/>
<output wsam:Action="http://webservices/CustomerOperationsWS/countCountryResponse" message="tns:countCountryResponse"/>
</operation>
<operation name="removeCountry">
<input wsam:Action="http://webservices/CustomerOperationsWS/removeCountry" message="tns:removeCountry"/>
</operation>
<operation name="createCountry">
<input wsam:Action="http://webservices/CustomerOperationsWS/createCountry" message="tns:createCountry"/>
</operation>
<operation name="createAddress">
<input wsam:Action="http://webservices/CustomerOperationsWS/createAddress" message="tns:createAddress"/>
</operation>
<operation name="editCustomer">
<input wsam:Action="http://webservices/CustomerOperationsWS/editCustomer" message="tns:editCustomer"/>
</operation>
<operation name="findCustomer">
<input wsam:Action="http://webservices/CustomerOperationsWS/findCustomerRequest" message="tns:findCustomer"/>
<output wsam:Action="http://webservices/CustomerOperationsWS/findCustomerResponse" message="tns:findCustomerResponse"/>
</operation>
</portType>
<binding name="CustomerOperationsWSPortBinding" type="tns:CustomerOperationsWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeCountry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCountry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findCountry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCountry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countCountry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCountry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createCountry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerOperationsWS">
<port name="CustomerOperationsWSPort" binding="tns:CustomerOperationsWSPortBinding">
<soap:address location="http://localhost:8080/CusManagementWS/CustomerOperationsWS"/>
</port>
</service>
</definitions>